---
---

@font-face {
  font-family: 'BerlinType Regular';
  src: url('../assets/fonts/BerlinTypeWeb-Regular.woff') format('woff'),
       url('../assets/fonts/BerlinTypeWeb-Regular.woff2') format('woff2'),
}

@font-face {
  font-family: 'BerlinType Bold';
  src: url('../assets/fonts/BerlinTypeWeb-Bold.woff') format('woff'),
       url('../assets/fonts/BerlinTypeWeb-Bold.woff2') format('woff2'),
}
